@use "../../../scss/abstracts/" as *;

.box_principal {
    width: 100%;
    height: 203px;
    background-color: $brand2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;

    @media(min-width:800px) {
        width: 255px;
        height: 533px;
    }

    .box_profile {
        height: 133px;
        border-radius: 15px;
        background-color: $brand3;
        display: flex;
        align-items: center;

        @media(min-width:800px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 369px;

        }

        .box_img {
            padding: 0 28px;

            img {
                width: 78px;
                height: 81.31px;
                border: 3px solid $white-fixed;
                border-radius: 50px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 28px;
            justify-content: space-between;
            gap: 10px;


            h1 {
                @include Heading-One;
            }

            p {
                @include Body-Two;
            }
        }


    }

    .choices {
        display: flex;
        justify-content: space-between;
        padding: 28px;
        gap: 27px;

        @media(min-width:800px) {
            flex-direction: column;

        }

        @include Body-Two-Profile;

        p:hover {
            color: $brand5;

        }
    }
}