$brand1: #0e1323;
$brand2: #1c204b;
$brand3: #5747ea;
$brand4: #bbc0ff;
$brand5: #7078c9;
$brand6:#33397A;
$white-fixed: #ffffff;
$path: #000000;
$mask-0: #d8d8d8;
$mask-1: #ff8b64;
$mask-2: #55c2e6;
$mask-3: #ff5e7d;
$mask-4: #4bcf82;
$mask-5: #7335d2;
$mask-6: #f1c75b;
$combined-shape-1: #d96c47;
$combined-shape-2: #3f9cbb;
$combined-shape-3: #f04667;
$combined-shape-4: #29ba66;
$combined-shape-5: #5a1cbb;
$combined-shape-6: #e6a532;