@use "../../../scss/abstracts/" as *;


.Work{
    background-color: $mask-1 ;
    height: 244px;
    border-radius: 15px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Play{
    background-color: $mask-2 ;
    height: 244px;
    border-radius: 15px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Study{
    background-color: $mask-3 ;
    height: 244px;
    border-radius: 15px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Exercise{
    background-color: $mask-4;
    height: 244px;
    border-radius: 15px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Social{
    background-color: $mask-5 ;
    height: 244px;
    border-radius: 15px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Self{
    background-color: $mask-6;
    height: 244px;
    border-radius: 15px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.container {
    width: 255px;
    height: 199px;
    background-color: $brand2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;

    .box_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include Heading-Two;
        padding: 28px;
        border-radius: 20px 20px 0 0;

        .stroke {
            color: $brand4;
            width: 21px;
            height: 15px;
            position: relative;

            p {
                position: absolute;
                top: -13px;
                font-size: 1.5rem;
            }


        }

    }

    .box_hour {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include Body-One;
        padding: 0 28px;
        border-radius: 20px 20px 0 0;

    }

    .box_time {
        display: flex;
        align-items: center;
        @include Body-Two;
        padding: 28px;
        border-radius: 0 0 20px 20px;
        color: $brand4;

    }
}